{% extends 'layout.html' %}
{% block title %}Product{% endblock %}
{% block head %}
<style>
    @media only screen and (max-width: 600px) {
  .groot {
    width:100% !important;
  }
}
</style>
{% endblock %}
{% block content %}

<!-- PAGE CONTENT-->
<div class="page-content--bgf7">
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline
                                au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="/">Home</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Products</li>
                            </ul>
                        </div>
                        <!-- <form class="au-form-icon--sm" action="" method="post">
                            <input class="au-input--w300 au-input--style2"
                                type="text" placeholder="Search for datas &amp;
                                reports...">
                            <button class="au-btn--submit2" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->


    <!-- DATA TABLE-->
    <section class="p-t-20">
        <div class="container groot" style="width: 50%;">
            <div id="printableArea">
                <div class="jumbotron text-center">
                    <h1>Retail Customer Price</h1>
                    <p>$ {{product.retail_customer_price}}</p>
                    <p>carryout price</p>
                    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Sold in Quantities of</td>
                                <th scope="col">{{product.selling_unit_quantity}}</th>
                            </tr>
                            <tr>
                                <td>Manufacturer</td>
                                <th scope="col">{{product.manufacturer}}</th>
                            </tr>
                            <tr>
                                <td>Material</td>
                                <th scope="col">{{product.material_class}}</th>
                            </tr>
                            <tr>
                                <td>Style Number</td>
                                <th scope="col">{{product.style_number}}</th>
                            </tr>
                            <tr>
                                <td>Style Name</td>
                                <th scope="col">{{product.style_name}}</th>
                            </tr>
                            <!-- <tr>
                                <td>Options</td>
                                <th scope="col"></th>
                            </tr> -->
                            <tr>
                                <td>Cost</td>
                                <th scope="col">${{product.cost}}</th>
                            </tr>
                            <!-- <tr>
                                <td>Last Updated</td>
                                <th scope="col"></th>
                            </tr> -->
                        </thead>
                    </table>
                </div>
            </div>
            <div class="text-center mt-3">
                <a onclick="printDiv('printableArea')"><i class="zmdi zmdi-print" style="font-size: 3rem;"></i></a>
            </div>
            <!-- <div class="text-center mt-3">
                <button class="btn btn-lg btn-secondary w-50">Edit</button>
            </div> -->
        </div>
    </section>
    <!-- END DATA TABLE-->

    <!-- COPYRIGHT-->
    <section class="p-t-60 p-b-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2022 All rights reserved.
                            Developed by <a href="https://fiverr.com/naqvi29">Naqvi29</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END COPYRIGHT-->
</div>

{% endblock %}

{% block scripts %}
<script>
    function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>
{% if print %} 
<script>
    var printContents = document.getElementById('printableArea').innerHTML;
    // var originalContents = document.body.innerHTML;

    document.body.innerHTML = printContents;

    window.print();

    // document.body.innerHTML = originalContents;

</script>
{% endif %}
{% endblock %}